.card-container {
    position: relative;
    width: 50%;
  }
  

  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: lightgray;
    visibility: hidden;
  }

  .text {
    color: black;
    font-size: 12px;
    margin: 10px;
    line-height: 3px;
  }
  
  .card-container:hover .overlay {
    opacity: 1;
  }